<div class="w-96 h-80 relative">
  <div class="w-36 h-16 left-[3px] top-[210px] absolute"><span style="text-black text-xs font-normal font-['Inter'] underline">MODELO PEDAGÓGICO<br/></span><span style="text-black text-xs font-normal font-['Inter']">Trabajamos con las inteligencias múltiples desencadenando en aprendizajes vivenciales y significativos. Formamos estudiantes empáticos , críticos, creativos y analíticos.</span></div>
  <div class="w-36 h-20 left-[198px] top-[215px] absolute"><span style="text-black text-xs font-normal font-['Inter'] underline">NIVELES<br/></span><span style="text-black text-xs font-normal font-['Inter']">Nuestra propuesta educativa está abierta para los siguientes grupos: Estimulación Temprana e Inicial 1, Inicial 2. EGB: Preparatoria, elemental, media y superior. Bachillerato General Unificado.</span></div>
  <div class="w-screen h-24 left-0 top-0 absolute bg-lime-500 bg-opacity-80"></div>
  <div class="w-screen h-20 left-[39px] top-[15px] absolute text-center text-black text-base font-normal font-['Inter']">LA EDUCACIÓN EN ASIAN AMERICAN SCHOOL<br/><br/>Una educación de vanguardia, que fomenta el cauce natural del desarrollo de nuestros estudiantes apoyados en la convivencia multicultural, tecnologías de información y comunicación, Inteligencias Múltiples y desarrollo del pensamiento con interacción directa entre principios y valores.</div>
  <img class="w-36 h-24 left-[198px] top-[105px] absolute" src="/assets/asian-american-school-educacionfooter1.jpg" />
  <img class="w-32 h-24 left-[3px] top-[113px] absolute" src="/assets/asian-american-schoolfooter2.jpg" />
  <div class="w-screen h-44 left-[374px] top-[115px] absolute bg-zinc-300"></div>
  <div class="w-36 h-40 left-[393px] top-[152px] absolute text-black text-base font-normal font-['Inter']">A A SCHOOL
                                       <br/>El Campus
  <br/>Misión
  <br/>Visión
  <br/>Profesionales
  <br/>Tour virtual
  <br/><br/><br/></div>
  <div class="left-[1800px] top-[147px] absolute text-black text-base font-normal font-['Inter']">CONTACTO
  <br/>4041813
  <br/>0999051328
  <br/>mhinojosaaaschool.edu.ec
  <br/>AsianAmericanSchool
  <br/>Asian American School</div>
  <div class="left-[915px] top-[152px] absolute text-black text-base font-normal font-['Inter']">EDUCACIÓN
  <br/>Filosofía
  <br/>Pedagogía
  <br/>Niveles
  <br/>Idiomas
  <br/>Bases legales
  </div>
  <div class="left-[1400px] top-[152px] absolute text-black text-base font-normal font-['Inter']">SERVICIOS
  <br/>Consejería estudiantil
  <br/>Atención y seguro médico
  <br/>Transporte escolar
  <br/>Deportes opcionales
  <br/>Espacio padres
  </div>
</div>