<div class="w-96 h-28 relative">
  <img class="w-96 h-28 left-0 top-0 absolute" src="/assets/logo-asian-american-school.png" />
  <div class="w-44 h-10 left-[552px] top-[37px] absolute bg-zinc-300"></div>
  <div class="w-36 h-8 left-[575px] top-[40px] absolute text-black text-xl font-normal font-['Inter']">ESCUELA</div>
  <div class="w-44 h-10 left-[754px] top-[37px] absolute bg-zinc-300"></div>
  <div class="w-48 h-7 left-[754px] top-[43px] absolute text-black text-xl font-normal font-['Inter']">CONTACTOS</div>
  <div class="w-44 h-10 left-[962px] top-[37px] absolute bg-zinc-300"></div>
  <div class="w-44 h-9 left-[965px] top-[43px] absolute text-black text-xl font-normal font-['Inter']">EDUCACION</div>
  <div class="w-64 h-9 left-[1154px] top-[40px] absolute bg-zinc-300"></div>
  <div class="w-60 h-7 left-[1154px] top-[43px] absolute text-black text-xl font-normal font-['Inter']">ESPACIO PADRES</div>
  <div class="w-36 h-10 left-[387px] top-[37px] absolute bg-zinc-300"></div>
  <div class="w-24 h-8 left-[423px] top-[43px] absolute text-black text-xl font-normal font-['Inter']">INICIO</div>
</div>