<div class="w-96 h-10 relative">
  <img class="w-80 h-10 left-0 top-0 absolute" src="/assets/logo-asian-american-school.png" />
  <div class="w-44 h-3.5 left-[544.22px] top-[14px] absolute bg-zinc-300"></div>
  <div class="w-36 left-[567.04px] top-[15px] absolute text-black text-xs font-normal font-['Inter']">ESCUELA</div>
  <div class="w-44 h-3.5 left-[743.01px] top-[14px] absolute bg-zinc-300"></div>
  <div class="w-44 left-[743.01px] top-[16px] absolute text-black text-xs font-normal font-['Inter']">CONTACTOS</div>
  <div class="w-44 h-3.5 left-[948.32px] top-[14px] absolute bg-zinc-300"></div>
  <div class="w-44 h-3 left-[951.58px] top-[16px] absolute text-black text-xs font-normal font-['Inter']">EDUCACION</div>
  <div class="w-60 h-3.5 left-[1137.33px] top-[15px] absolute bg-zinc-300"></div>
  <div class="w-60 left-[1137.33px] top-[16px] absolute text-black text-xs font-normal font-['Inter']">ESPACIO PADRES</div>
  <div class="w-36 h-3.5 left-[381.28px] top-[14px] absolute bg-zinc-300"></div>
  <div class="w-24 left-[417.13px] top-[16px] absolute text-black text-xs font-normal font-['Inter']">INICIO</div>
</div>